.main_bg {
    padding-top: 10px;
    width: 100%;
    background-color: rgba(228, 228, 228, 1);
}

.content {
    margin: 0 auto;
    width: 685px;
    min-height: 482px;
}

.blog_list {
}

.blog_list_item {
    padding: 10px 20px 10px 20px;
    border-bottom: 2px solid #e4e4e4;
    background-color: white;
}

.blog_list_item:hover {
    background-color: #f7f7f7;
}

.blog_list_item p.title {
    font-size: 20px;
    font-weight: 500;
    color: inherit;
    margin-bottom: 5px;
}

.blog_list_item p.time {
    color: #a2a2a2;
    margin-bottom: 5px;
    font-size: 14px
}

.blog_list_item p.desc {
    color: #828282;
    line-height: 1.7;
    font-size: 14px
}

@media only screen and (max-width: 600px) {
    .content {
        width: 100%;
    }
}
