<footer>
    <!--回到顶部-->
    <div id="returnTop">
    </div>

    <!-- 底部-->
    <div class="footer">
        <!--微信图标，QQ二维码图标-->
        <div style="margin:10px auto;width: 350px" class="clearfix">
            <div class="left txt_center">
                <img class="e_code_img" src="/images/e_code.png"/>
                <p class="e_code_txt">微信关注</p>
            </div>
            <div style="margin-left: 10px" class="left txt_center">
                <img class="e_code_img" src="/images/e_code.png"/>
                <p class="e_code_txt">QQ关注</p>
            </div>
            <div style="margin-left:30px;" class="left attach_txt">
                QQ：1059876295<br/>
                <a style="color:white" href="http://www.baidu.com" target="_blank">github：MaGuiSen</a>
            </div>
        </div>
        <!--QQ号码，github-->
    </div>
</footer>