<header>
    <!--顶部-->
    <div class="nav_bar clearfix">
        <!--左边大标题-->
        <a class="nav_bar_brand goBlogList" href="#" target="_self">为心动而出发</a>
        <!--右边操作：博客，关于我，留言板，感谢-->
        <a class="nav_bar_operate goGiveMoney" href="#" target="_self">感谢</a>
        <a class="nav_bar_operate goLeaveMsg" href="#" target="_self">留言板</a>
        <a class="nav_bar_operate goAboutMe" href="#" target="_self">关于我</a>
        <a class="nav_bar_operate goBlogList" href="#" target="_self">博客</a>
        <a id="mobile_menu_pull" style="position: fixed;right: 10px;color: white" href="#" target="_self">菜单</a>
    </div>

    <ul id="mobile_menu" class="clearfix">
        <li>
            <a class="goGiveMoney" style="color: white" href="#" target="_self">感谢</a>
        </li>
        <li>
            <a class="goLeaveMsg" style="color: white;" href="#" target="_self">留言板</a>
        </li>
        <li>
            <a class="goAboutMe" style="color: white" href="#" target="_self">关于我</a>
        </li>
        <li>
            <a class="goBlogList" style="color: white" href="#" target="_self">博客</a>
        </li>
    </ul>
</header>